!!! 5
  %html
    %head
      %title Hs Open5
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      = csrf_meta_tags

    %body
      %h3 HsOpen
      <input type="button" value="Click me" class="btn btn-primary">
      %div#infovis
